{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container mt-4">
  <div class="card shadow-sm">
<div class="container mt-4">
  <h4>Add Subtask for "{{ task.task }}"</h4>

  <form method="post">
    {% csrf_token %}
    <input type="text" name="title" class="form-control mb-3"
           placeholder="Subtask title" required>
    <button class="btn btn-primary">Add</button>
    <a href="{% url 'task_detail' task.id %}" class="btn btn-secondary">Back</a>
  </form>
</div>
  </div>
</div>

{% endblock %}
